.row {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.cell {
  padding: 15px 10px 15px 5px;

  .link {
    color: #495057;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
